@page "/{*uri}"

<Page>
    <PageBody>
        <div class="card">
            <div class="card-body">
                <p class="mb-0">Nebula home.</p>
            </div>
        </div>
    </PageBody>
</Page>

@code {

    [Parameter]
    public string Uri { get; set; } = null!;

}