@page "/"

<Page ContainerSize="fluid">
    <PageHeader>
        <Header Title="Dashboard" Icon="analytics"></Header>
    </PageHeader>
    <PageBody>
        <div class="card">
            <div class="card-body">
                Dashboard
            </div>
        </div>
    </PageBody>
</Page>