@inject NavigationManager navigationManager
@inject IToastService toastService
@inject IStringLocalizer<Translations> stringLocalizer

<Modal>
    <ModalSubTitle>@HouseName</ModalSubTitle>
    <ModalBody>
        <div class="fv-row mb-7 fv-plugins-icon-container">
	        <label class="mb-2">@stringLocalizer["remarks"]</label>
            <textarea rows="5" class="form-control form-control-solid" name="bijzonderheden"></textarea>
        </div>
    </ModalBody>
    <ModalFooter>
        <SpinnerSubmitButton LoadingText="Aan het laden..." IdleText="Indienen" Icon="paper-plane" Size="md" Color="light-primary" Margins="false"/>
    </ModalFooter>
</Modal>

@code
{
    [Parameter]
    public string HouseName { get; set; } = null!;
}