body {
  .e-input-group.e-control-wrapper {
    font-family: $font-family-sans-serif;
  }

  .e-input-group {
    font-family: $font-family-sans-serif;
    padding: 5px;
  }

  .e-input-group:not(.e-success):not(.e-warning):not(.e-error), .e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error) {
    border-color: #F5F8FA;
    background: #f5f8fa;
  }

  .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error), .e-input-group.e-control-wrapper.e-input-focus:not(.e-success):not(.e-warning):not(.e-error),
  .e-input-group:not(.e-disabled):active:not(.e-success):not(.e-warning):not(.e-error), .e-input-group.e-control-wrapper:not(.e-disabled):active:not(.e-success):not(.e-warning):not(.e-error) {
    border-color: transparent;
    @include box-shadow(none);
    @include transition(none);
  }

  .e-input-group.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled), .e-input-group.e-control-wrapper.e-input-focus:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled), {
    border-color: transparent;
  }

  .e-input-group {
    &:focus {
      @include transition(background-color 0.2s ease !important);
      background-color: #eef3f7 !important;
      border-color: #eef3f7 !important;
    }
  }

  .e-input-group {
    color: #5E6278;
  }

  .e-dropdownbase .e-list-item {
    padding: 5px 0px;
  }

  .e-ddl.e-input-group .e-input-value {
    line-height: 2em;
  }
}