.sign-in-bg-gradient {
  background-color: #f5f5f5;
  background-image: linear-gradient(-45deg, #E8DDD8, #DFE3EA, #DDE3D9, #EBE7D7);
}

.header {
  background-color: #474775 !important;
}

//filter panel//
.form-check.form-check-custom.form-check-solid {
  padding: 8px;
}

:hover.form-check.form-check-custom.form-check-solid {
  background-color: #00000005;
  padding: 8px;
  border-radius: 4px;
}

.validation-message {
  color: $danger;
  font-size: 1rem;
}

#blazor-error-ui {
  display: none;
}

.desktop-only-app {
  display: none;
  @include media-breakpoint-between(xs, lg) {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: $white;
    top: 0px;
    z-index: 999;
  }
}

input[type="checkbox"]#reminder-date:checked + input[type="date"] {
  display: block !important;
}

body .grid-spinner + svg {
  display: none !important;
}

html, body {
  font-size: $default-body-font-size !important;
}

.extra-card-padding {
  padding: 2rem 2.25rem
}

.transparent-border-edit-panel {
  .e-input-group.e-error, .e-input-group.e-control-wrapper.e-error, .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left),
  .e-input-group.e-success, .e-input-group.e-control-wrapper.e-success, .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left) {
    border-color: transparent !important;
  }
}

.action-button {
  svg {
    position: relative;
    top: -1px;
  }
}

.full-width-badge > span {
  width: 100%;
}

html .blazored-toast {
  width: 20rem;
}

.child-tree-item {
  label {
    &::before {
      position: relative;
      top: -4px;
      left: -15px;
      width: 32px;
      border-bottom: if(isDarkMode(), 1px dashed $white, 1px dashed #1F1F1F);
      content: " ";
      display: inline-block;
    }
  }
}

.parent-tree-item {
  &:before {
    border-left: if(isDarkMode(), 1px dashed $white, 1px dashed #1F1F1F);
    width: 1px;
    height: 103px;
    content: " ";
    position: absolute;
    top: -21px;
    left: 37px;
  }

  .child-two-input {
    .e-input-value {
      padding-left: 8px;
    }
  }
}

.blazored-toast-close-icon svg {
  fill: $white;
}

.button-fix-inline-editor {
  .e-inplaceeditor .e-editable-action-buttons {
    right:10.5px;
  }
  .e-editable-inline {
    padding-bottom: 40px;
  }
}

html body {
  position: relative !important;
}

.content {
  background-color: $content-bg-color;
}

html :hover.form-check.form-check-custom.form-check-solid {
  background-color: transparent !important;
}

#user-menu label.form-switch {
  &:hover {
    cursor: pointer;

    span {
      color: $primary !important;
    }
  }
}

.icon-files-grid {
  width: 42px;
}

.family-cards .card {
  background:#f5f8fa;
}

.menu-link-disabled:hover {
  cursor:not-allowed;
  background-color: transparent !important;
  color: $gray-600 !important;
}

.bg-light-green {
  background-color: #f0fdf4;
}

.bg-light-blue {
  background-color: #f5f8fa;
}

.icon-color-primary {
  color:$primary;
}

.delete-icon-top-right-absolute {
  position: absolute;
  right: 15px;
  top: 15px;
}

.add-family {
  text-align:center;
  font-size: 4.75em;
  
    svg {
      margin: 0 auto;
      padding-bottom: 10px;
      path {
        fill:$primary;
      }
    }
}
