.toggle-password-visibility {
  input[type="text"] {
    & + span {
      svg + svg {
        display: block;
      }

      svg {
        &:first-child {
          display: none;
        }
      }
    }
  }

  input[type="password"] {
    & + span {
      svg + svg {
        display: none;
      }
    }
  }
} 