.tool-tip {
  position: relative;
  display: block;

  &:hover {
    .tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }

  &.left {
    .tooltiptext {
      top: -17px;
      right: 33px;

      &::after {
        top: 50%;
        right: -10px;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent $white;
      }
    }
  }

  &.right {
    .tooltiptext {
      top: -17px;
      left: 9px;

      &::after {
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent $white transparent transparent;
      }
    }
  }

  &.top {
    .tooltiptext {
      width: 120px;
      bottom: 100%;
      left: 50%;
      margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
      &::after {
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $white transparent;
      }
    }
  }

  &.bottom {
    .tooltiptext {
      width: 120px;
      top: 100%;
      left: 50%;
      margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
      &::after {
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $white transparent transparent transparent;
      }
    }
  }

  &.top-left {
    .tooltiptext {
      bottom: 28px;
      right: -8px;

      &::after {
        top: 100%;
        right: 8px;
        margin-left: 4px;
        border-width: 5px;
        border-style: solid;
        border-color: $white transparent transparent transparent;
      }
    }
  }

  &.top-right {
    .tooltiptext {
      bottom: 28px;
      left: -29px;

      &::after {
        top: 100%;
        left: 8px;
        margin-left: 4px;
        border-width: 5px;
        border-style: solid;
        border-color: $white transparent transparent transparent;
      }
    }
  }

  &.bottom-left {
    .tooltiptext {
      top: 28px;
      right: -7px;

      &::after {
        bottom: 100%;
        right: 12px;
        margin-left: 4px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $white transparent;
      }
    }
  }

  &.bottom-right {
    .tooltiptext {
      top: 28px;
      left: -29px;

      &::after {
        bottom: 100%;
        left: 8px;
        margin-left: 4px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $white transparent;
      }
    }
  }

  .tooltiptext {
    visibility: hidden;
    background-color: $white;
    box-shadow: $tooltip-box-shadow;
    text-align: center;
    padding: 7px 10px;
    color: #212529;
    @include border-radius(5px);
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    @include transition(opacity 0.5s);

    &::after {
      content: " ";
      position: absolute;
    }
  }
}



