@inject IJSRuntime jsRuntime

<div class="@className position-relative">
    <div class="splide__track">
        <ul class="splide__list">
            @ChildContent
        </ul>
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    private string className = "slider-" + Guid.NewGuid().ToString().ToLower(); 
    
    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("CarouselSlider.Bootstrap", className);
        }
    } 
}
