@page "/settings"

@inject AppState appState

<DefaultCulture Culture="@(new CultureInfo("nl-NL"))"/>

<SettingPage>
    <PageSubHeader>
        <SubHeader Title="Dashboard" Icon="analytics"/>
    </PageSubHeader>
    <PageBody>
        <div class="card">
            <div class="card-body">
                <p class="mb-0">@appState.Site.Name settings.</p>
            </div>
        </div>
    </PageBody>
</SettingPage>